# SEMANA 02
Mg. Flor Elizabeth Cerdán León

Temas:
    
    1. Números
    2. Variables
    3. Manejo de cadenas
    4. Ingreso de datos por el teclado
    5. Operadores

3. Manejo de Cadenas

In [3]:
cadena = "Universidad Nacional Tecnológica de Lima Sur"
cadena

'Universidad Nacional Tecnológica de Lima Sur'

In [4]:
# Universidad Nacional Tecnológica de Lima Sur
#01234..................................-2 -1

In [5]:
cadena[5]

'r'

In [6]:
cadena[10]

'd'

In [7]:
# Tambien considera los espacios

In [8]:
cadena[11]

' '

In [9]:
# ¿Qué me mostrara?
cadena[-5]

'a'

In [10]:
cadena[21]

'T'

In [11]:
# Tambien lo puedo mostrar accediendo de manera inversa

In [12]:
cadena[-23]

'T'

In [13]:
# Para mostrar una subcadena[desde, hasta una antes]

In [14]:
cadena[3:8]

'versi'

In [16]:
# Para saber el tamaño de una cadena utilizamos Len()
# incluye espacios en blanco
len(cadena)

44

In [17]:
# Para mostrar una cadena en mayúsculas utilizamos upper()
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLÓGICA DE LIMA SUR'

In [18]:
cadena

'Universidad Nacional Tecnológica de Lima Sur'

In [19]:
# Si deseo cambiar una cadena en letras minúsculas utilizamos Lower()
cadena.lower()

'universidad nacional tecnológica de lima sur'

In [20]:
# Generar una lista a partir de una cadena.split()
cadena.split()

['Universidad', 'Nacional', 'Tecnológica', 'de', 'Lima', 'Sur']

In [22]:
# Generar una lista utilizando un criterio de separación a partir de una cadena.split()
# Vamos a generar una lista de toda la cadena, utilizando como criterio de separación: Letra "a"
cadena.split("a")

['Universid', 'd N', 'cion', 'l Tecnológic', ' de Lim', ' Sur']

In [23]:
# Imprimir dando formato
# forma clásica "+"
# .format()
# f

In [24]:
# Forma clásica, concatenar con +
nombre = "Flor Cerdán"
print("Buenos días " + nombre)

Buenos días Flor Cerdán

In [26]:
# Utilizando el .format()
nombre = "Pablo Lévano"
edad = 18
print("hola {} ya sé que tienes {} años".format(nombre,edad))

hola Pablo Lévano ya sé que tienes 18 años

In [28]:
# Dar formato a números con muchos decimales
resultado = 10/3 
print("10/3 es = {}".format(resultado))
print("10/3 es = {r:1.3f}" .format(r=resultado))

10/3 es = 3.3333333333333335
10/3 es = 3.333

In [30]:
# Dar formato con f
nombre = "Flor Lévano"
edad = 19
print(f"Buenos dias {nombre}, ya sé que tienes {edad} años")

Buenos dias Flor Lévano, ya sé que tienes 19 años

In [31]:
# Dar formato a números con muchos decimal con f
resultado = 10/3
print(f"10/3 es = {resultado} ")
print(f"10/3 es = {resultado:1.3f} ")

10/3 es = 3.3333333333333335
10/3 es = 3.333